$_header_title_font: 'Baloo', sans-serif;
$_header_title_background: linear-gradient(180deg, #4ab301 0%, #b7f100 100%);
$_header_title_span_background: linear-gradient(
  180deg,
  #fcc40b 0%,
  #fcee05 85.57%
);
