<section class="description" id="description">
  <div class="description-container">
    <div class="title-background"><h2>Description</h2></div>
    <ul class="list-description">
      <div class="img-item-descr">
        <img class="img-description" src="../img/star.jpg" alt="star" />
        <li class="item-description">
          Tropic Trouble is a vibrant match-3 puzzle adventure that takes
          players on an exciting journey through a tropical paradise.
        </li>
      </div>
      <div class="img-item-descr">
        <img class="img-description" src="../img/flower.jpg" alt="flower" />
        <li class="item-description">
          Join your favorite characters as they solve challenging puzzles, build
          their own island, and rescue adorable animals from the clutches of
          mischievous pirates.
        </li>
      </div>
      <div class="img-item-descr">
        <img class="img-description" src="../img/snail.jpg" alt="snail" />
        <li class="item-description">
          With colorful graphics, engaging gameplay, and a variety <br />
          of levels, players will enjoy <br />
          endless fun as they progress through this enchanting world.
        </li>
        <img
          class="img-description-last"
          src="../img/mushroom.jpg"
          alt="mushroom"
        />
      </div>
    </ul>
  </div>
</section>
