<footer class="site-footer">
  <div class="footer-container">
    <ul class="footer-links">
      <li class="img-logo-list">
        <img
          class="logo-pet"
          src="./img/logo.jpg"
          width="32"
          height="32"
          alt="Logo"
        />
      </li>
      <li class="footer-link-item">
        <a href="./privacy-policy.html" class="links-main">Privacy Policy</a>
      </li>
      <li class="footer-link-item">
        <a href="./terms.html" class="links-main">Terms of Service</a>
      </li>
    </ul>
    <div class="footer-info">
      <p class="footer-copyright">All rights reserved joinprostart.com</p>
      <p class="footer-year">2024</p>
    </div>
  </div>
</footer>
