<section class="section-margin" id="gallery">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@latest/swiper-bundle.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/swiper@latest/swiper-bundle.min.js"></script>

  <div class="gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="swiper swiperGallery">
      <div class="swiper-wrapper">
        <div class="swiper-slide gallery" data-hash="gallery1">
          <div class="gallery-card">
            <img src="./img/picture-1.jpg" alt="galleryItem1" loading="lazy" />
          </div>
        </div>
        <div class="swiper-slide gallery" data-hash="gallery2">
          <div class="gallery-card">
            <img src="../img/picture-2.jpg" alt="galleryItem2" loading="lazy" />
          </div>
        </div>
        <div class="swiper-slide gallery" data-hash="gallery3">
          <div class="gallery-card">
            <img src="./img/picture-3.jpg" alt="galleryItem3" loading="lazy" />
          </div>
        </div>
        <div class="swiper-slide gallery" data-hash="gallery4">
          <div class="gallery-card">
            <img src="./img/picture-4.jpg" alt="galleryItem4" loading="lazy" />
          </div>
        </div>
        <div class="swiper-slide gallery" data-hash="gallery5">
          <div class="gallery-card">
            <img src="./img/picture-5.jpg" alt="galleryItem5" loading="lazy" />
          </div>
        </div>
        <div class="swiper-slide gallery" data-hash="gallery6">
          <div class="gallery-card">
            <img src="./img/picture-6.jpg" alt="galleryItem6" loading="lazy" />
          </div>
        </div>
        <div class="swiper-slide gallery" data-hash="gallery7">
          <div class="gallery-card">
            <img src="./img/picture-7.jpg" alt="galleryItem7" loading="lazy" />
          </div>
        </div>
        <div class="swiper-slide gallery" data-hash="gallery8">
          <div class="gallery-card">
            <img src="./img/picture-8.jpg" alt="galleryItem8" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
