<section class="section-margin" id="gallery">
  <link rel="stylesheet" href="./scss/styles.scss" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@latest/swiper-bundle.min.css"
  />

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <div class="gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./img/picture-1.jpg" alt="galleryItem1" loading="lazy" />
        </div>

        <div class="swiper-slide">
          <img src="./img/picture-2.jpg" alt="galleryItem2" loading="lazy" />
        </div>

        <div class="swiper-slide">
          <img src="./img/picture-3.jpg" alt="galleryItem3" loading="lazy" />
        </div>

        <div class="swiper-slide">
          <img src="./img/picture-4.jpg" alt="galleryItem4" loading="lazy" />
        </div>

        <div class="swiper-slide">
          <img src="./img/picture-5.jpg" alt="galleryItem5" loading="lazy" />
        </div>

        <div class="swiper-slide">
          <img src="./img/picture-6.jpg" alt="galleryItem6" loading="lazy" />
        </div>

        <div class="swiper-slide">
          <img src="./img/picture-7.jpg" alt="galleryItem7" loading="lazy" />
        </div>

        <div class="swiper-slide">
          <img src="./img/picture-8.jpg" alt="galleryItem8" loading="lazy" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <button type="button" class="google-btn1">
      <svg class="playstore-icon1" width="21" height="24">
        <use href="./img/sprite.svg#icon-playstore"></use>
      </svg>
      <div class="btn-container1">
        <p class="btn-text1">Get it on</p>
        <svg class="google-icon1" width="74" height="15">
          <use href="./img/sprite.svg#icon-googleplay"></use>
        </svg>
      </div>
    </button>
  </div>
</section>
