<section class="section-margin" id="gallery">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <link rel="stylesheet" href="./scss/styles.scss" />

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <div class="gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./img/picture-1.jpg" alt="galleryItem1" loading="lazy" />
        </div>

        <div class="swiper-slide">
          <img src="./img/picture-2.jpg" alt="galleryItem2" loading="lazy" />
        </div>

        <div class="swiper-slide">
          <img src="./img/picture-3.jpg" alt="galleryItem3" loading="lazy" />
        </div>

        <div class="swiper-slide">
          <img src="./img/picture-4.jpg" alt="galleryItem4" loading="lazy" />
        </div>

        <div class="swiper-slide">
          <img src="./img/picture-5.jpg" alt="galleryItem5" loading="lazy" />
        </div>

        <div class="swiper-slide">
          <img src="./img/picture-6.jpg" alt="galleryItem6" loading="lazy" />
        </div>

        <div class="swiper-slide">
          <img src="./img/picture-7.jpg" alt="galleryItem7" loading="lazy" />
        </div>

        <div class="swiper-slide">
          <img src="./img/picture-8.jpg" alt="galleryItem8" loading="lazy" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
