
<header class="header">
  <div class="header-container">
    <div class="logo-title">
      <img
        class="logo"
        src="./img/logo.jpg"
        width="32"
        height="32"
        alt="Logo"
      />
      <h2 class="tittle-logo">Tropic <span class="span-logo">Trouble</span></h2>
    </div>
    <button type="button" class="open-close-btn" id="show-menu">
      <svg class="burger-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-Vector"></use>
      </svg>
    </button>
    <nav class="nav-header">
      <ul class="menu-nav">
        <li class="list-modal-nav">
          <a
            href="#home"
            id="home-link"
            class="menu-link"
            aria-label="Home"
            tabindex="0"
          >
            Home
          </a>
        </li>
        <li class="list-modal-nav">
          <a
            href="#description"
            id="description-link"
            class="menu-link"
            aria-label="Game Description"
            tabindex="0"
            >Game Description
          </a>
        </li>
        <li class="list-modal-nav">
          <a
            href="#reviews"
            id="reviews-link"
            class="menu-link"
            aria-label="Reviews"
            tabindex="0"
          >
            Reviews
          </a>
        </li>
        <li dclass="list-modal-nav">
          <a
            href="#how-to-play"
            id="how-to-play-link"
            class="menu-link"
            aria-label="How to Play"
            tabindex="0"
          >
            How to Play
          </a>
        </li>
        <li class="list-modal-nav">
          <a
            href="#features"
            id="features-link"
            class="menu-link"
            aria-label="Features"
            tabindex="0"
          >
            Features
          </a>
        </li>
        <li class="list-modal-nav">
          <a
            href="#faq"
            id="faq-link"
            class="menu-link"
            aria-label="Faq"
            tabindex="0"
          >
            FAQ
          </a>
        </li>
        <li class="list-modal-nav">
          <a
            href="#gallery"
            id="gallery-link"
            class="menu-link"
            aria-label="Gallery"
            tabindex="0"
          >
            Gallery
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Modal menu -->
  <div class="modal-menu" id="modal-menu">
    <div class="header">
      <div class="header-container">
        <div class="logo-title">
          <img
            class="logo"
            src="./img/logo.jpg"
            width="32"
            height="32"
            alt="Logo"
          />
          <h2 class="tittle-logo">
            Tropic <span class="span-logo">Trouble</span>
          </h2>
        </div>
        <button type="button" class="open-close-btn" id="close-modal">
          <svg class="close-icon" width="18" height="19">
            <use href="./img/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>

    <nav class="nav-modal">
      <ul class="list-modal">
        <li class="list-modal-nav">
          <a
            href="#home"
            id="home-link"
            class="menu-link"
            aria-label="Home"
            tabindex="0"
          >
            Home
          </a>
        </li>
        <li class="list-modal-nav">
          <a
            href="#description"
            id="description-link"
            class="menu-link"
            aria-label="Game Description"
            tabindex="0"
            >Game Description
          </a>
        </li>
        <li class="list-modal-nav">
          <a
            href="#reviews"
            id="reviews-link"
            class="menu-link"
            aria-label="Reviews"
            tabindex="0"
          >
            Reviews
          </a>
        </li>
        <li class="list-modal-nav">
          <a
            href="#how-to-play"
            id="how-to-play-link"
            class="menu-link"
            aria-label="How to Play"
            tabindex="0"
          >
            How to Play
          </a>
        </li>
        <li class="list-modal-nav">
          <a
            href="#features"
            id="features-link"
            class="menu-link"
            aria-label="Features"
            tabindex="0"
          >
            Features
          </a>
        </li>
        <li class="list-modal-nav">
          <a
            href="#faq"
            id="faq-link"
            class="menu-link"
            aria-label="Faq"
            tabindex="0"
          >
            FAQ
          </a>
        </li>
        <li class="list-modal-nav">
          <a
            href="#gallery"
            id="gallery-link"
            class="menu-link"
            aria-label="Gallery"
            tabindex="0"
          >
            Gallery
          </a>
        </li>
      </ul>
    </nav>

    <footer>
      <div class="footer-container">
        <ul class="footer-links">
          <li class="footer-link-item">
            <a href="./privacy-policy.html" class="links-main"
              >Privacy Policy</a
            >
          </li>
          <li class="footer-link-item">
            <a href="./terms.html" class="links-main">Terms of Service</a>
          </li>
        </ul>
        <div class="footer-info1">
          <p class="footer-copyright">All rights reserved joinprostart.com</p>
          <p class="footer-year">2024</p>
        </div>
      </div>
    </footer>
    </header>


