<section class="home" id="home-link">
  <div class="home-container">
    <div class="video-btn-container">
      <button type="button" class="video-btn">
        <svg class="video-icon" width="49" height="56">
          <use href="./img/icons.svg#icon-Polygon-1"></use>
        </svg>
      </button>
    </div>
    <div class="title-btn-container">
      <h1 class="tittle">Tropic <span class="span">Trouble</span></h1>
      <button type="button" class="google-btn">
        <svg class="playstore-icon" width="21" height="24">
          <use href="./img/icons.svg#icon-playstore"></use>
        </svg>
        <div class="btn-container">
          <p class="btn-text">Get it on</p>
          <svg class="google-icon" width="74" height="15">
            <use href="./img/icons.svg#icon-googleplay"></use>
          </svg>
        </div>
      </button>
    </div>
  </div>
</section>
