<section class="home" id="home">
  <div class="home-container">
    <div class="video-container">
      <div class="btn-blur"></div>
      <img class="video-icon" src="./img/video-btn.png" alt="click" />
    </div>
    <div class="title-btn-container">
      <h1 class="tittle">Tropic <span class="span">Trouble</span></h1>




      <a
        href="https://play.google.com/store/apps/details?id=air.com.qublix.tropictrouble"
        target="_blank"
        class="google-btn"
      >
        <svg class="playstore-icon" width="21" height="24">
          <use href="./img/sprite.svg#icon-playstore"></use>
        </svg>
        <div class="btn-container">
          <p class="btn-text">Get it on</p>
          <svg class="google-icon" width="74" height="15">
            <use href="./img/sprite.svg#icon-googleplay"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
