<section class="game-instructions" id="how-to-play">
  <div class="container-how-play">
    <h2 class="instructions-title">How to Play</h2>
    <ul class="instructions-list">
      <li class="instruction-item">
        <div class="one-img"></div>
        <div class="content-container">
          <span class="term-number-one">1</span>
          <p class="instruction-description-one">
            Swap and match three or more similar items to clear them from the
            board and earn points
          </p>
        </div>
      </li>
      <li class="instruction-item">
        <div class="two-img"></div>
        <div class="content-container">
          <span class="term-number-two">2</span>
          <p class="instruction-description-two">
            Each level has specific objectives, such as reaching target score or
            collecting certain items
          </p>
        </div>
      </li>
      <li class="instruction-item">
        <div class="three-img"></div>
        <div class="content-container">
          <span class="term-number-three">3</span>
          <p class="instruction-description-three">
            Use power-ups strategically to clear larger sections of the board
            and help complete levels
          </p>
        </div>
      </li>
      <li class="instruction-item">
        <div class="four-img"></div>
        <div class="content-container">
          <span class="term-number-four">4</span>
          <p class="instruction-description-four">
            Engage with the storyline as you progress through levels and uncover
            new surprises on your tropical island
          </p>
        </div>
      </li>
      <li class="instruction-item">
        <div class="five-img"></div>
        <div class="content-container">
          <span class="term-number-five">5</span>
          <p class="instruction-description-five">
            Complete daily challenges to earn bonuses and rewards that help you
            on your journey
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
