<section class="reviews" id="reviews">
  <div class="reviews-container">
    <div class="title-background"><h2>Reviews</h2></div>
    <div class="swiper swiperGallery">
      <div class="swiper-wrapper">
        <ul class="list-reviews">
          <li class="swiper-slide item-reviews">
            <img class="starts-img" src="../img/starts.png" alt="starts" />
            <h3 class="title-reviews">IslandDreamer</h3>
            <p>
              This game is incredibly fun! The puzzles are challenging, but they
              keep me coming back for more.
            </p>
          </li>
          <li class="swiper-slide item-reviews">
            <img class="starts-img" src="../img/starts.png" alt="starts" />
            <h3 class="title-reviews">ParadiseSeeker</h3>
            <p>
              This game is incredibly fun! The puzzles are challenging, but they
              keep me coming back for more.
            </p>
          </li>
          <li class="swiper-slide item-reviews">
            <img class="starts-img" src="../img/starts.png" alt="starts" />
            <h3 class="title-reviews">PuzzleMaster24</h3>
            <p>
              This game is incredibly fun! The puzzles are challenging, but they
              keep me coming back for more.
            </p>
          </li>
        </ul>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
