<section class="reviews" id="reviews">
  <div class="reviews-container">
    <div class="title-background"><h2>Reviews</h2></div>
    <div class="swiper swiperGallery">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="item-reviews">
            <img class="starts-img" src="./img/starts.png" alt="starts" />
            <h3 class="title-reviews">ForestFriend</h3>
            <p>
              The characters are so cute, and the game is really addictive! Love
              the nature theme.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="item-reviews">
            <img class="starts-img" src="./img/starts.png" alt="starts" />
            <h3 class="title-reviews">MatchGuru</h3>
            <p>
              Challenging but rewarding levels. It's one of the best match-3
              games I've played!
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="item-reviews">
            <img class="starts-img" src="./img/starts.png" alt="starts" />
            <h3 class="title-reviews">PuzzleLover</h3>
            <p>
              Beautiful graphics and great gameplay. A perfect way to relax
              after a long day.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="item-reviews">
            <img class="starts-img" src="./img/starts.png" alt="starts" />
            <h3 class="title-reviews">NatureDefender</h3>
            <p>
              I love how the game combines fun puzzles with a meaningful story
              of saving the forest!
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="item-reviews">
            <img class="starts-img" src="./img/starts.png" alt="starts" />
            <h3 class="title-reviews">GreenGamer</h3>
            <p>
              Fantastic gameplay, and each update makes it even better with new
              features and events.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
