.description {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    background-image: url(../img/cloud-top-mob.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 320px;
    height: 96px;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }
  &::after {
    content: '';
    background-image: url(../img/cloud-down-mob.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 320px;
    height: 96px;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .description {
    &::before {
      background-image: url(../img/cloud-top-mob-x2.png);
    }
    &::after {
      content: '';
      background-image: url(../img/cloud-down-mob-x2.png);
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 320px;
      height: 96px;
      bottom: -90px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.title-background {
  width: 288px;
  height: 60px;
  background-image: url(../img/background-title.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-background h2 {
  text-shadow: -1px -1px 0 #945e0b, 1px -1px 0 #945e0b, -1px 1px 0 #945e0b,
    1px 1px 0 #945e0b;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .title-background {
    background-image: url(../img/background-title2x.jpg);
  }
}
.description-container {
  padding: 71px 16px 48px 16px;
}

.list-description {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 48px;
}

.img-item-descr {
  position: relative;
}

.item-description {
  border: 4px solid#954b25;
  border-radius: 8px;
  padding: 16px;
  width: 288px;
  background: linear-gradient(167deg, #ffeabf 0%, #f4d596 100%);
}

.img-description {
  border-radius: 4px;
  width: 56px;
  height: 56px;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.img-description-last {
  border-radius: 4px;
  width: 56px;
  height: 56px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

@include media(desktop) {
  .description {
    &::before {
      content: '';
      background-image: url(../img/cloud-top-comp.png);
      width: 1200px;
      height: 160px;
      top: -60px;
    }
    &::after {
      content: '';
      background-image: url(../img/cloud-down-comp.png);
      width: 1200px;
      height: 160px;
      bottom: -50px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .description {
      &::before {
        background-image: url(../img/cloud-top-comp-2x.png);
      }
      &::after {
        content: '';
        background-image: url(../img/cloud-down-comp-x2.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 320px;
        height: 96px;
        bottom: -90px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 102px;
  }

  .title-background {
    background-image: url(../img/background-title-desktop.jpg);
    width: 397px;
    height: 100px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .title-background {
      background-image: url(../img/background-title-desktop-2x.jpg);
    }
  }
  .list-description {
    flex-direction: row;
    gap: 24px;

    margin-bottom: 70px;
  }
  .item-description {
    color: #000;
    width: 352px;
    height: 156px;
    padding: 18px 16px 18px 54px;
  }
  .img-description {
    width: 60px;
    height: 60px;
    top: 50px;
    left: -4px;
    transform: translateX(-50%);
  }
  .img-description-last {
    width: 60px;
    height: 60px;
    top: 50px;
    left: 350px;
    transform: translateX(-50%);
  }
}
