@import './common/vars';

.home {
  margin: 0 auto;
  background-image: url(../img/home.jpg);
  width: 320px;
  height: 568px;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 227px;
}
.video-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  width: 124px;
  height: 124px;
  filter: blur(8px);
  background: #cdf1ff;
  opacity: 0.5;
}
.video-icon {
  width: 49px;
  height: 56px;
  border-color: #fcee05;
  border: 2px;
}

.tittle {
  font-family: $_title_font;
  font-size: 42px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  background: $_title_background;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.span {
  background: $_title_span_background;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Product Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  color: #000;
  width: 120px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 6px;
  width: 120px;
  height: 40px;
  background: #fff;
}
.playstore-icon {
  width: 21px;
  height: 24px;
}
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  margin-left: 7px;
}
.google-icon {
  width: 74px;
  height: 15px;
}
