.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;

  &::before {
    content: '';
    background-image: url(../img/cloud-top-mob.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 320px;
    height: 96px;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .reviews {
    &::before {
      background-image: url(../img/cloud-top-mob-x2.png);
    }
  }
}
.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  padding: 71px 16px 48px 16px;
  border-radius: 0 0 60px 60px;
  background-color: #fff;
  margin-bottom: -48px;
}
.swiperGallery {
  width: 100%;
  overflow: hidden;
  margin-top: 48px;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 48px;

    width: 288px;
    height: 209px;
    overflow: visible;
  }

  .item-reviews {
    position: relative;
    width: 256px;
    padding: 16px;
    height: 94px;
    object-fit: cover;
    box-shadow: 0 16px 40px 0 rgba(75, 39, 21, 0.2);
    background: linear-gradient(167deg, #ffeabf 0%, #f4d596 100%);
  }
  .starts-img {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
  }

  .swiper-pagination-bullet {
    border-radius: 60px;
    background: linear-gradient(180deg, #954b25 0%, #d68329 84.63%);
    width: 18px;
    height: 18px;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    width: 38px;
    background: linear-gradient(180deg, #954b25 0%, #d68329 84.63%);
  }
}

.title-reviews {
  font-family: 'Baloo', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #fefe98;
  text-align: center;
  margin-bottom: 8px;
  text-shadow: -1px -1px 0 #945e0b, 1px -1px 0 #945e0b, -1px 1px 0 #945e0b,
    1px 1px 0 #945e0b;
}

@include media(desktop) {
  .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
      content: '';
      background-image: url(../img/cloud-top-comp.png);
      width: 1200px;
      height: 160px;
      top: -75px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .reviews {
      &::before {
        background-image: url(../img/cloud-top-comp-2x.png);
      }
    }
  }
  .reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    padding: 86px 48px 80px 48px;
    border-radius: 0 0 60px 60px;
    background-color: #fff;
    margin-bottom: -100px;
  }
  .swiperGallery {
    width: 100%;
    overflow: hidden;
    margin-top: 48px;

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 48px;
      width: 1104px;
      height: 313px;
      overflow: visible;
    }

    .item-reviews {
      position: relative;
      width: 320px;
      padding: 18px 16px;
      height: 119px;
      object-fit: cover;
      box-shadow: 0 16px 40px 0 rgba(75, 39, 21, 0.2);
      background: linear-gradient(167deg, #ffeabf 0%, #f4d596 100%);
    }
    .starts-img {
      position: absolute;
      top: -45px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .title-reviews {
    font-size: 24px;
  }
}
